$black-electromagnetic: #2f3640;
$black-night:#353b48;
$white-lynx:#f5f6fa;
$orange-harley-davidson:#c23616;
$orange-nasturcian-flower:#e84118;
$yellow-rise-shine:#fbc531;
$blue-pico-void:#192a56;
$blue-mazarine:#273c75;
$green-download-progress:#4cd137;
$green-skirret:#44bd32;
$purple-matte:#8c7ae6;
$blue-protoss-pylon:#00a8ff;